$standardSpace: 16px;
$fontStyle: $standardSpace sans-serif;
$maxWidth: 1200px;

$primaryColor: #6183dd;
$secondaryColor: #333333;
$tertiaryColor: #ffffff;
$lightgrey: #e7e7e7;
$backdrop: rgba(0, 0, 0, 0.2);

$shadow: 0 0 10px rgba(51, 51, 51, 0.2);
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: $fontStyle;
  color: $secondaryColor;
}

button {
  font: $fontStyle;
  padding: $standardSpace;
  background: $primaryColor;
  color: $tertiaryColor;
  border: 0;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: $tertiaryColor;
    color: $primaryColor;
  }
}

input {
  font: $fontStyle;
  padding: $standardSpace;
  font-size: $standardSpace;
  background: $lightgrey;
  border: none;
}

nav {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav-container {
    max-width: $maxWidth;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 50px;
    }

    button {
      max-width: 150px;
    }
  }
  .navbar-btn {
    text-transform: uppercase;
  }
}

.input-section {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    max-width: $maxWidth;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2 * $standardSpace;
      margin: $standardSpace;
    }

    .form-inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $standardSpace;
      width: 100%;
    }

    .product-inputs {
      display: grid;
      grid-template-columns: 2fr repeat(2, 1fr);
      gap: $standardSpace;
      width: 100%;
    }
  }
}

.products-section {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .products-container {
    max-width: $maxWidth;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $standardSpace;

    .card {
      padding: $standardSpace;
      box-shadow: $shadow;
      min-height: 300px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      button {
        position: absolute;
        bottom: 0;
      }

      h2 {
        font-size: $standardSpace;
      }

      span {
        font-size: 3 * $standardSpace;
      }

      .card-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $standardSpace;
        margin-left: 2 * $standardSpace;

        .card-info-detail:last-child {
          text-align: right;
        }
      }
    }
  }
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: $backdrop;

  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .close-modal-btn {
    position: fixed;
    bottom: 0;
    text-transform: uppercase;
  }

  .modal {
    background: $tertiaryColor;
    max-width: 600px;
    width: 100%;
    min-height: 50vh;
    padding: 3 * $standardSpace;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: $standardSpace;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        margin: $standardSpace 0;
      }

      button {
        margin: $standardSpace 0;
      }

      a {
        text-decoration: none;
        color: $secondaryColor;

        &:hover {
          color: $primaryColor;
        }
      }
    }
  }
}
